<!DOCTYPE html>
<html>
<head>
	<title>New APP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
	
	<link rel="stylesheet" type="text/css" href="css/fa-font-face.css"/>
	<link rel="stylesheet" type="text/css" href="css/lib/font-awesome.css"/>
	
	<link rel="stylesheet" type="text/css" href="css/lib/uikit/uikit.gradient.css"/>
	<link rel="stylesheet" type="text/css" href="css/lib/uikit/components/form-advanced.gradient.css"/>
	<link rel="stylesheet" type="text/css" href="css/lib/uikit/components/progress.gradient.css"/>
	<link rel="stylesheet" type="text/css" href="css/lib/uikit/components/tooltip.gradient.css"/>
	<link rel="stylesheet" type="text/css" href="css/lib/uikit/components/datepicker.gradient.css"/>
	<link rel="stylesheet" type="text/css" href="css/lib/uikit/components/notify.gradient.css"/>
	
	
	<!-- <link rel="stylesheet" type="text/css" href="css/lib/ericmeyer-2.0.css"/> -->
	<link rel="stylesheet" type="text/css" href="css/lib/sweetalert.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
	<header class="header">
		<ul class="right-nav uk-list">
			<li><a href="#">دستگاهها</a></li>
			<li><a href="#">کاربران</a></li>
			<li><a href="#">ورود</a></li>
			<li><a href="#">ساخت دستگاه جدید</a></li>
			<li><a href="#">ساخت دستگاه جدید</a></li>
		</ul>
		<ul class="left-nav uk-list">
			<li><input type="text" placeholder="جست و جو"></li>
		</ul>
	</header>
	<!--  -->
	<div class="contents">
		{{{body}}}
	</div>
	
	<footer class="footer"></footer>



<script type="text/javascript" src="js/lib/jquery-3.1.0.js"></script>
<script type="text/javascript" src="js/lib/velocity.js"></script>

<script type="text/javascript" src="js/lib/uikit/uikit.js"></script>
<script type="text/javascript" src="js/lib/uikit/components/tooltip.js"></script>
<script type="text/javascript" src="js/lib/uikit/components/datepicker.js"></script>
<script type="text/javascript" src="js/lib/uikit/components/notify.js"></script>

<script type="text/javascript" src="js/lib/sweetalert-dev.js"></script>
<!-- <script type="text/javascript" src="js/product/fn.js"></script> -->
<!-- <script type="text/javascript" src="js/product/main.js"></script> -->
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>