<div class="home">
	<div class="top-box boxes">
		<div class="box-header">
			<h4>آخرین دستگاه های ساخته شده</h4>
		</div>
		<div class="box-content">
			<div class="product_thumbnail">
				<a href="/product?id={{productId}}">aa</a>
			</div>
			<div class="product_thumbnail"></div>
			<div class="product_thumbnail"></div>
		</div>
	</div>
	
	<div class="mid-box boxes">
		<div class="box-header">
			<h4>پربازدید ترین دستگاه ها</h4>
		</div>
		<div class="box-content">
			<div class="product_thumbnail"></div>
			<div class="product_thumbnail"></div>
			<div class="product_thumbnail"></div>
		</div>
	</div>
	
	<div class="bot-box boxes">
		<div class="box-header">
			<h4>پر امتیازترین دستگاه ها</h4>
		</div>
		<div class="box-content">
			<div class="product_thumbnail"></div>
			<div class="product_thumbnail"></div>
			<div class="product_thumbnail"></div>
		</div>
	</div>
</div>