<div class="product">





<div class="page-title">
	<h1>Ga-x2T-12g</h1>
</div>

<div class="info
	uk-width-small-1-1
	uk-width-medium-1-2
	uk-width-large-2-10
">
	<table class="uk-table">
		<tr>
			<th>مدل</th>
			<td>Ga-x2T-12g</td>
		</tr>
		<tr>
			<th>برند</th>
			<td>Gigabyte</td>
		</tr>
		<tr>
			<th>گروه</th>
			<td>مادربرد کامپیوتر</td>
		</tr>
	</table>
</div>

<div class="score
	uk-width-small-1-1
	uk-width-medium-1-2
	uk-width-large-4-10
">
	<div class="head">
		<h1 class="heading">امتیاز</h1>
	</div>
	<div class="body">
		<div class="sides">
			<label class="txt pushed-down-2">راضی:</label>
			<div class="large-section pushed-down">
				<div class="fullup medium-circle">
					<label class="score-txt">999.9k</label>
				</div>
				<label class="txt">کاملا</label>
			</div>
			<div class="small-section pushed-down">
				<div class="halfup small-circle">
					<label class="score-txt small-txt">999.9k</label>
				</div>
				<label class="txt small-txt small-txt">تقریبا</label>
			</div>
		</div>
		
		<div class="center">
			<div class="big-circle">
				<label class="score-txt">999.9k</label>
			</div>
		</div>
		
		<div class="sides">
			<label class="txt pushed-down-2">ناراضی:</label>
			<div class="small-section pushed-down">
				<div class="halfdown small-circle">
					<label class="score-txt small-txt">999.9k</label>
				</div>
				<label class="txt small-txt">تقریبا</label>
			</div>
			<div class="large-section pushed-down">
				<div class="fulldown medium-circle">
					<label class="score-txt">999.9k</label>
				</div>
				<label class="txt">کاملا</label>
			</div>
		</div>
		
		<button type="button" class="rate-btn uk-button" data-uk-modal="{target:'#rate-modal',bgclose:false}">امتیاز بدهید</button>
	</div>
</div>

<div class="page-info-and-tools
	uk-width-small-1-1
	uk-width-medium-1-2
	uk-width-large-4-10
">
	<div class="view">
		<h1 class="heading">بازدید</h1>
		<h1 class="count">134,048</h1>
	</div>
	
	
	<div class="info">
		<div class="user">
			<div class="user-img">
				<img src="images/unkown-person.png" alt=""/>
			</div>
			<label class="label">محمد احمدی</label>
			<label class="label user-score">12,436</label>
		</div>
		
		<div class="user">
			<div class="user-img">
				<img src="images/unkown-person.png" alt=""/>
			</div>
			
			<label class="label">سامان خوشقامت</label>
			<label class="label user-score">8,143</label>
		</div>
	
	</div>
	
	
	
	<div class="tools">
		<button class="uk-button" type="button"><span class="glyphicon glyphicon-user icons"></span> ویرایش</button>
		<button class="uk-button" type="button"><i class="uk-icon-cog icons"></i>قفل</button>
		<button class="uk-button" type="button"><i class="uk-icon-user icons"></i>حذف</button>
		<button class="uk-button" type="button"><i class="uk-icon-home icons"></i>ارسال نظر</button>
	</div>
</div>

<div class="details">
	<table class="uk-table uk-text-center">
		<tr>
			<th>مشخصه</th>
			<td>مفدار</td>
			<td><button type="button" class="uk-button uk-button-mini">ویرایش</button></td>
		</tr>
		<tr>
			<th>مشخصه</th>
			<td>مفدار</td>
			<td><button type="button" class="uk-button uk-button-mini">ویرایش</button></td>
		</tr>
		<tr>
			<th>مشخصه</th>
			<td>مفدار</td>
			<td><button type="button" class="uk-button uk-button-mini">ویرایش</button></td>
		</tr>
		<tr>
			<th>مشخصه</th>
			<td>مفدار</td>
			<td><button type="button" class="uk-button uk-button-mini">ویرایش</button></td>
		</tr>
	</table>
	

</div>

<div class="arguments">
	

</div>


<div class="comments">
	<div class="section positive">
		<div class="comment">
			<div class="votes">
				<div class="triangle triangle-up" data-uk-tooltip="{pos:'left'}" title="54 نفر رای مثبت داده اند"></div>
				<div class="comment-score"><label>42</label></div>
				<div class="triangle triangle-down" data-uk-tooltip="{pos:'left'}" title="12 نفر رای منفی داده اند"></div>
				<div class="status voted-4" data-uk-tooltip="{pos:'left'}" title="کاملا راضی رای داده است."></div>
			</div>
			<div class="content">
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
				
				<div class="user">
					<div class="user-img">
						<img src="images/unkown-person.png" alt=""/>
					</div>
					<a href="#" class="small-txt">محمد احمدی</a>
					<label class="label number">12,436</label>
					<label class="label creation-date">دو روز پیش</label>
				</div>
			</div>
		</div>
		
		<div class="comment">
			<div class="votes">
				<div class="triangle triangle-up" data-uk-tooltip="{pos:'top'}" title="54 نفر رای مثبت داده اند"></div>
				<div class="comment-score"><label>42</label></div>
				<div class="triangle triangle-down" data-uk-tooltip="{pos:'bottom'}" title="12 نفر رای منفی داده اند"></div>
				<div class="status voted-4" data-uk-tooltip="{pos:'bottom'}" title="کاملا راضی رای داده است."></div>
			</div>
			<div class="content">
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
				
				<div class="user">
					<div class="user-img">
						<img src="images/unkown-person.png" alt=""/>
					</div>
					<a href="#" class="small-txt">محمد احمدی</a>
					<label class="label number">12,436</label>
					<label class="label creation-date">دو روز پیش</label>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section negative">
		<div class="comment">
			<div class="votes">
				<div class="triangle triangle-up" data-uk-tooltip="{pos:'top'}" title="54 نفر رای مثبت داده اند"></div>
				<div class="comment-score"><label>42</label></div>
				<div class="triangle triangle-down" data-uk-tooltip="{pos:'bottom'}" title="12 نفر رای منفی داده اند"></div>
				<div class="status voted-1" data-uk-tooltip="{pos:'bottom'}" title="کاملا ناراضی رای داده است."></div>
			</div>
			<div class="content">
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
				
				<div class="user">
					<div class="user-img">
						<img src="images/unkown-person.png" alt=""/>
					</div>
					<a href="#" class="small-txt">محمد احمدی</a>
					<label class="label number">12,436</label>
					<label class="label creation-date">دو روز پیش</label>
				</div>
			</div>
		</div>
		
		<div class="comment">
			<div class="votes">
				<div class="triangle triangle-up" data-uk-tooltip="{pos:'top'}" title="54 نفر رای مثبت داده اند"></div>
				<div class="comment-score"><label>42</label></div>
				<div class="triangle triangle-down" data-uk-tooltip="{pos:'bottom'}" title="12 نفر رای منفی داده اند"></div>
				<div class="status voted-1" data-uk-tooltip="{pos:'bottom'}" title="کاملا ناراضی رای داده است."></div>
			</div>
			<div class="content">
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
				
				<div class="user">
					<div class="user-img">
						<img src="images/unkown-person.png" alt=""/>
					</div>
					<a href="#" class="small-txt">محمد احمدی</a>
					<label class="label number">12,436</label>
					<label class="label creation-date">دو روز پیش</label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="reviews"></div>
</div>





<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->






<div id="rate-modal" class="uk-modal rate-modal"">
<div class="uk-modal-dialog">
	<a class="uk-modal-close uk-close"></a>
	
	<form class="uk-form" name="rate">
	
		<div class="uk-form-row">
			<h4>به این محصول چه امتیازی می دهید؟</h4>
			<div class="uk-form-row uk-text-center j-rate-radios
				uk-grid
				uk-grid-width-small-1-2
				uk-grid-width-medium-1-2
				uk-grid-width-large-1-4
			">
				<label class="uk-text-large uk-text-bold rate-radio vote4"><input type="radio" name="vote">کاملا مثبت</label>
				<label class="uk-text-large uk-text-bold rate-radio vote3"><input type="radio" name="vote">تقریبا مثبت</label>
				<label class="uk-text-large uk-text-bold rate-radio vote2"><input type="radio" name="vote">تقریبا منفی</label>
				<label class="uk-text-large uk-text-bold rate-radio vote1"><input type="radio" name="vote">کاملا منفی</label>
			</div>
			
			<ul class="uk-list uk-list-striped">
				<li><h5>با امتیاز دادن به این محصول <mark><strong><em>1 اعتبار</em></strong></mark> کسب می کنید.</h5></li>
				<li><h5>در صورتی که کاربر این محصول هستید (یا بوده اید)، می توانید با پاسخ دادن به سوال های اضافی اعتبار دریافتی خود را به <mark><strong><em>6 اعتبار</em></strong></mark> برسانید.</h5></li>
				<li><h5>امتیاز و جواب سوالات داده شده را می توانید بعدا در <a href="#" target="_blank">صفحه ی شخصی </a> ویرایش کنید.</h5></li>
			</ul>
			
		</div>
		
		
		<div class="uk-form-row">
			<label class="disabled"><input type="checkbox" name="product-user" disabled> من کاربر این محصول هستم (یا بوده ام)</label><br />
			<label class="disabled"><input type="checkbox" name="will-answer" disabled> به سوالات اضافه پاسخ می دهم</label>
		</div>
		
		<div class="uk-form-row wizard-panel no-display">
			<div class="uk-form-row progress j-progress">
				<div class="uk-progress">
					<div class="uk-progress-bar" style="width: 40%;">40%</div>
				</div>
			</div>
			
			<div class="uk-form-row j-quest j-quest-1">
				<h4>در چه زمانی کاربر این محصول بودید؟</h4>
				<div class="indented">
					<label class="floated col j-label"><input type="radio" name="radio11" class="j-input">در حال حاضر</label>
					<label class="floated col j-label"><input type="radio" name="radio11" class="j-input">در گذشته</label>
					<div style="clear:both"></div>
					<ul class="uk-list uk-list-striped">
						<li><label>با پاسخ به این سوال <mark><strong><em><span>2</span> اعتبار</em></strong></mark> دریافت می کنید.</label></li>
					</ul>
					
				</div>
				
			</div>
			
			<div class="uk-form-row j-quest j-quest-2 no-display">
				<h4>چطور این محصول را تهیه کردید؟</h4>
				<div class="indented">
					<label class="floated col j-label"><input type="radio" name="radio21" class="j-input">خرید</label>
					<label class="floated col j-label"><input type="radio" name="radio21" class="j-input">موارد دیگر (هدیه، امانت و غیره)</label>
				</div>
			</div>
			<div class="uk-form-row j-quest j-quest-3 no-display">
				<h4>وضعییت محصول در زمان شروع به استفاده چه بود؟</h4>
				<div class="indented">
					<label class="floated col j-label"><input type="radio" name="radio12" class="j-input">نو</label>
					<label class="floated col j-label"><input type="radio" name="radio12" class="j-input">دست دوم</label>
				</div>
			</div>
			<div class="uk-form-row j-quest j-quest-4 no-display">
				<h4>چه قیمتی بابت خرید پرداخت کردید؟</h4>
				<div class="indented">
					<label class="floated col uk-form-small j-label"><input type="text" name="" class="j-input"> تومان</label>
				</div>
			</div>
			
			<div class="uk-form-row j-quest j-quest-5 no-display">
				<h4>از کجا خریداری کردید؟</h4>
				<div class="indented">
					<label class="floated col j-label"><input type="radio" name="radio13" class="j-input">فروشگاه اینترنتی</label>
					<label class="floated col j-label"><input type="radio" name="radio13" class="j-input">فروشگاه فیزیکی</label>
					<label class="floated col j-label"><input type="radio" name="radio13" class="j-input">موارد دیگر (دوست، آشنا و غیره)</label>
				</div>
			</div>
			<div class="uk-form-row j-quest j-quest-6 no-display">
				<h4>از چه فروشگاهی خرید کردید؟</h4>
				<div class="indented">
					<label class="floated col j-label" for="shop-city">شهر:
						<select class="uk-form-small j-input" id="shop-city">
							<option>تهران</option>
							<option>اصفهان</option>
						</select>
					</label>
					
					
					<label for="shop-address" class="j-label">آدرس فروشگاه:</label>
					<textarea class="floated col uk-form-small j-input" cols="" rows="" placeholder="آدرس فروشگاه" id="shop-address"></textarea>
						
					<div>
						<label class="floated col uk-form-small j-label">نام: <input type="text" name="" class="j-input"></label>
						<label class="floated col uk-form-small j-label">آدرس اینترنتی: <input type="text" name="" class="j-input"></label>
					</div>
				</div>
			</div>
			
			<div class="uk-form-row j-quest j-quest-7 no-display">
				<h4>در چه تاریخی این محول را خریداری کردید؟</h4>
				<div class="indented">
					<input class="floated col j-input" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
				</div>
			</div>
			
			<div class="uk-form-row j-quest j-quest-8 no-display">
				<h4>چه مدت از این محصول استفاده کردید؟</h4>
				<div class="indented">
					<input class="floated col-half j-input" type="number" min="1" max="365" value="1">
					<select class="j-input">
						<option>سال</option>
						<option>ماه</option>
						<option>روز</option>
						<option>ساعت</option>
					</select>
				</div>
			</div>
			
			<div class="uk-form-row j-quest j-quest-9 no-display">
				<h4>چرا دیگر از این محصول استفاده نمی کنید؟</h4>
				<div class="indented">
					<label class="floated col j-label"><input type="radio" name="radio41" class="j-input">به سر رسیدن عمر محصول</label>
					<label class="floated col j-label"><input type="radio" name="radio41" class="j-input">عدم برآورده شدن توقع و نیاز</label>
					<label class="floated col j-label"><input type="radio" name="radio41" class="j-input">ارتقا به محصولی دیگر</label>
				</div>
			</div>
			
			<div class="uk-form-row uk-text-left j-surveynav-btns">
				<button type="button" class="uk-button uk-button-primary j-survey-ok" disabled>ثبت</button></button>
				<button type="button" class="uk-button uk-button-primary j-survey-next" disabled><span class="uk-icon-angle-double-right"></span> سوال بعد</button></button>
				<button type="button" class="uk-button uk-button-primary j-survey-prev" disabled>سوال قبل <span class="uk-icon-angle-double-left"></span></button>
				<button type="button" class="uk-button uk-button-primary j-survey-cancel">لغو</button></button>
			</div>
		</div>
		
		
		<div class="uk-form-row uk-text-left j-okcancel">
			<button type="button" class="uk-button uk-button-success j-ok" disabled>ثبت</button>
			<button type="button" class="uk-button uk-button-danger uk-modal-close j-cancel">لغو</button>
		</div>
		
	</form>
	
</div>
	
	

	
</div>